@import "compass";

// The transistion went smoothly, and I can now use // to comment :D

// I can now define pseudo-functions :D
@mixin transformTranslate($x, $y) {
   -webkit-transform: translate($x,$y);
      -moz-transform: translate($x,$y);
       -ms-transform: translate($x,$y);
        -o-transform: translate($x,$y);
           transform: translate($x,$y);
}

.centeredHorizontally {
	position: absolute;
	left: 50%;
    margin-right: -50%;
    @include transformTranslate(-50%, 0);
	text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.centered {
	@extend .centeredHorizontally;
    top: 50%;
    @include transformTranslate(-50%,-50%);
}

.fullContainer {
	height: 100%;
	width: 100%;
	position: absolute;
}
.noMargin {
	margin: 0 0;
	width: 100vw;
}

// Basic CSS

body {
  margin: 0;
  padding: 0;
}

// sets everything to the absolute center
.absolute-center {
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
}

// wraps the text and graphic
#recording-wrapper {
	height: 400px;
	width: 400px;
}

// wraps the blue oval and microphone
#mic-wrapper {
	width: 200px;
	height: 200px;
}

#oval {
	width: 150px;
	height: 150px;
	transition: width 0.5s, height 0.5s;
	cursor: pointer;
}

// on hover, transition
#oval:hover {
	width: 170px;
	height: 170px;
	transition: width 0.5s, height 0.5s;
	cursor: pointer;
}

#mic {
	width: 70px;
	height: 70px;
}

#status-message {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 30px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: dimgrey;
	font-size: 21pt;
}
