@import "compass";

// The transistion went smoothly, and I can now use // to comment :D

// I can now define pseudo-functions :D
@mixin transformTranslate($x, $y) {
   -webkit-transform: translate($x,$y);
      -moz-transform: translate($x,$y);
       -ms-transform: translate($x,$y);
        -o-transform: translate($x,$y);
           transform: translate($x,$y);
}

.centeredHorizontally {
	position: absolute;
	left: 50%;
    margin-right: -50%;
    @include transformTranslate(-50%, 0);
	text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.centered {
	@extend .centeredHorizontally;
    top: 50%;
    @include transformTranslate(-50%,-50%);
}

.fullContainer {
	height: 100%;
	width: 100%;
	position: absolute;
}
.noMargin {
	margin: 0 0;
     width: 100%;
}

#title {
  background-color: #FFB866;
  margin: 0;
}

body {
    margin: 0;
	width: 100vw;
}

// Basic CSS

body {
  margin: 0;
  padding: 0;
}

// sets everything to the absolute center
.absolute-center {
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
}

// wraps the text and graphic
#recording-wrapper {
	height: 400px;
	width: 400px;
}

// wraps the blue oval and microphone
#mic-wrapper {
	width: 200px;
	height: 200px;
}

#mic {
    z-index: 2000;
}

#oval {
	width: 150px;
	height: 150px;
	cursor: pointer;
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
    transition: width 0.5s, height 0.5s;
    z-index: 1000;
}

#oval:hover {
	width: 170px;
	height: 170px;
	transition: width 0.5s, height 0.5s;
	cursor: pointer;
    z-index: 1000;
}

// animation
#oval2 {
    width: 190px;
    height: 190px;
    filter: hue-rotate(90deg);
    -webkit-filter: hue-rotate(90deg);
    z-index: 5;
    opacity: 0;
}

#oval3 {
    width: 240px;
    height: 240px;
    filter: hue-rotate(90deg);
    -webkit-filter: hue-rotate(90deg);
    z-index: 3;
    opacity: 0;
}

#mic {
	width: 70px;
	height: 70px;
}

#status-message {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 30px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: dimgrey;
	font-size: 21pt;
}

// REPORT SCREEN

.icon {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    height: 50px;
    width: 50px;
    display: block;
    transition: opacity 0.5s;
}

.icon img {
    width: 50px;
    height: 50px;
}

.icon:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.5s;
}

#highlighting-section {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#highlighting-section p {
    margin: auto;
    max-width: 720px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 150px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    line-height: 25pt;
}

.bottom-gradient {
    /* Gradient: */
    background-image: linear-gradient(-180deg, rgba(200,200,200,0.00) 0%, #FCFCFC 39%);
    position: fixed;
    height: 300px;
    bottom: 0;
}

#down-arrow {
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 80px;
    opacity: 0.4;
    bottom: 100px;
    cursor: pointer;
}

.results-section {
    width: 100%;
}

#analytics-section {
    width: 100%;
    background-color: #555;
}
