/* line 14, ../sass/style.scss */
.centeredHorizontally, .centered {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 23, ../sass/style.scss */
.centered {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 29, ../sass/style.scss */
.fullContainer {
  height: 100%;
  width: 100%;
  position: absolute;
}

/* line 34, ../sass/style.scss */
.noMargin {
  margin: 0 0;
  width: 100%;
}

/* line 39, ../sass/style.scss */
#title {
  background-color: #FFB866;
  margin: 0;
}

/* line 44, ../sass/style.scss */
body {
  margin: 0;
  width: 100vw;
}

/* line 51, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 58, ../sass/style.scss */
#recording-wrapper {
  height: 400px;
  width: 400px;
}

/* line 64, ../sass/style.scss */
#mic-wrapper {
  width: 200px;
  height: 200px;
}

/* line 69, ../sass/style.scss */
#oval {
  width: 150px;
  height: 150px;
  transition: width 0.5s, height 0.5s;
  cursor: pointer;
  cursor: hand;
}

/* line 78, ../sass/style.scss */
#oval:hover {
  width: 170px;
  height: 170px;
  transition: width 0.5s, height 0.5s;
  cursor: pointer;
  cursor: hand;
}

/* line 86, ../sass/style.scss */
#mic {
  width: 70px;
  height: 70px;
}

/* line 91, ../sass/style.scss */
#status-message {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 30px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: dimgrey;
  font-size: 21pt;
}
